<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>surveyuserview</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="https://github.com/pipwerks/PDFObject/blob/master/pdfobject.min.js"></script>

  <style>
  .top-text{
    text-align: center;
    background-color: #588eef;
    margin-bottom: -1px;
    border-radius: 12px 11px 1px 1px;
    font-family: monospace;
    font-weight: bold;
  }
  .aadhar-img{  
    height: 165px;
    width: 262px;
  }
  .profile{
    border-radius: 101px;
    height: 84px;
    width: 87px;
    float: right;
  }
</style>

</head>
<body>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section  class="content-header">
      <form action="/admin-documentstatus/{{id}}" method="post" enctype="application/x-www-form-urlencoded">{% csrf_token %}
        
      <button type="submit" class="btn btn-primary" style="float:right; margin-right:20px;margin-top:20px"> Update</button>
     
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            {% for i in t %}
            <h1>{{i.survey_name}}'s All Documents</h1>
            
            <div style="font-weight:bold; font-size: 20px;">{{i.survey_id.survey_registration_id}}</div>         
            {% endfor %}     
          </div>
                  </div>
      </div><!-- /.container-fluid -->
    </section>
 
    <!-- Main content -->
    <section  class="content" style="margin-top: 40px;">
        
     {% for i in t %}
      <div class="container-fluid">
        <div class="row">
  
             <div class="col-md-19 ml-4" style="width:361px;height:200px">
        <h4 class="top-text">Profile Image</h4>
       <div class="card card-primary card-outline">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-20">
                      
                <table class="table table-striped">
                   <tr>
                    <td> 
                      {% if i.survey_profile_image == None%}<img  src="/static/noimg.png" width="150" height="150">{% endif %}
                      {% if i.survey_profile_image != None%}
                        <img  src={{profileimgurl}}{{i.survey_profile_image}} data-toggle="modal" data-target="#exampleModal" onclick="showimg('{{profileimgurl}}{{i.survey_profile_image}}')" width="150" height="150">
                    {% endif %}
                      
                    </td>

                    {% if i.survey_profile_image != None%}
                    <td style=" vertical-align: middle;" >
                      <input style="align-self:center; height:25px; width:29px; " {% if i.profile_img_status == 1 %} checked {% endif%} type="radio" id="pimg" name="pimg" value="1">
                      <label style="align-self:center; font-size:20px;" for="html" >Verified</label><br>
                      <input  style="align-self:center;height:25px; width:29px;" {% if i.profile_img_status == 2 %} checked {% endif%} type="radio" id="pimg" name="pimg" value="2">
                      <label style="align-self:center;font-size:20px;" for="css">Rejected</label><br>
                      <input style="align-self:center;height:25px; width:29px;" {% if i.profile_img_status == 0 %} checked {% endif%} type="radio" id="pimg" name="pimg" value="0">
                      <label style="align-self:center;font-size:20px;" for="javascript">Pending</label>
                       </td>
                    {% endif %}
                  </tr>
                 
                  
               
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
<!-- /.Adhaar Front image -->

       <div class="col-md-19 ml-4" style="width:361px;height:200px">
        <h4 class="top-text">Aadhaar Front Image</h4>
       <div class="card card-primary card-outline">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-20">
                      
                <table class="table table-striped">
                   <tr>
                    <td> 
                      {% if i.survey_adhar_front_image == None%}<img  src="/static/noimg.png" width="150" height="150">{% endif %}
                      {% if i.survey_adhar_front_image != None%}<img  src="{{aadharimgurl}}{{i.survey_adhar_front_image}}" data-toggle="modal" data-target="#exampleModal"   onclick="showimg('{{aadharimgurl}}{{i.survey_adhar_front_image}}')" width="150" height="150"></a>{% endif %}
                    </td>
                    {% if i.survey_adhar_front_image != None%}
                    <td  style=" vertical-align: middle;">
                      <input style="align-self:center; height:25px; width:29px; " {% if i.aadhar_front_uri_status == 1%} checked {% endif %} type="radio" id="afimg" name="afimg" value="1">
                      <label style="align-self:center; font-size:20px;" for="html">Verified</label><br>
                      <input  style="align-self:center;height:25px; width:29px;" {% if i.aadhar_front_uri_status == 2%} checked {% endif %} type="radio" id="afimg" name="afimg" value="2">
                      <label style="align-self:center;font-size:20px;" for="css">Rejected</label><br>
                      <input style="align-self:center;height:25px; width:29px;"   {% if i.aadhar_front_uri_status == 0%} checked {% endif %} type="radio" id="afimg" name="afimg" value="0">
                      <label style="align-self:center;font-size:20px;" for="javascript">Pending</label>
                       </td>
                       {% endif %}
                  </tr>
                 
                  
               
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

<!-- Adhar Back image -->
 <div class="col-md-19 ml-4" style="width:361px;height:200px;">
        <h4 class="top-text">Aadhar Back Image</h4>
       <div class="card card-primary card-outline">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-20">
                      
                <table class="table table-striped">
                   <tr>
                    <td>
                      {% if i.survey_adhar_back_image == None%}<img  src="/static/noimg.png" width="150" height="150">{% endif %}
                      {% if i.survey_adhar_back_image != None%}
                      <img  src="{{aadharimgurl}}{{i.survey_adhar_back_image}}" data-toggle="modal" data-target="#exampleModal"   onclick="showimg('{{aadharimgurl}}{{i.survey_adhar_back_image}}')" width="150" height="150">
                      {% endif %}
                     
                    </td>
                    {% if i.survey_adhar_back_image != None%}
                    <td  style=" vertical-align: middle;" >
                      <input style="align-self:center; height:25px; width:29px; "{% if i.aadhar_back_uri_status == 1 %} checked {% endif%} type="radio" id="abimg" name="abimg" value="1">
                      <label style="align-self:center; font-size:20px;" for="html">Verified</label><br>
                      <input  style="align-self:center;height:25px; width:29px;"{% if i.aadhar_back_uri_status == 2 %} checked {% endif%} type="radio" id="abimg" name="abimg" value="2">
                      <label style="align-self:center;font-size:20px;" for="css">Rejected</label><br>
                      <input style="align-self:center;height:25px; width:29px;" {% if i.aadhar_back_uri_status == 0 %} checked {% endif%} type="radio" id="abimg" name="abimg" value="0">
                      <label style="align-self:center;font-size:20px;" for="javascript">Pending</label>
                       </td>
                       {% endif %}
                  </tr>
                 
                  
               
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>



<!-- Driving Licence image -->

      <div class="col-md-19 ml-4" style="width:361px;height:200px;">
        <h4 class="top-text">Driving Licence Image</h4>
       <div class="card card-primary card-outline">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-20">
                      
                <table class="table table-striped">
                   <tr>
                    <td> 
          
                      {% if i.driving_licence_img == None%}<img  src="/static/noimg.png" width="150" height="150">{% endif %}
                      {% if i.driving_licence_img != None%}
                      {% if i.dl_type == 1 %} <img  src="{{url}}drivinglicence/{{i.driving_licence_img}}"  data-toggle="modal" data-target="#exampleModal"   onclick="showimg('{{url}}drivinglicence'+'/'+'{{i.driving_licence_img}}')" width="150" height="150">
                      {% endif %}
                      {% if i.dl_type == 2 %}  <img  src="/static/pdficon.png" width="150" height="150">
                      {% endif %}
                      {% if i.dl_type == 3 %}   <img  src="/static/invalid.png" width="150" height="150">
                      {% endif %}
                     
                      {% endif %}
                     
                    
                    </td>
                    {% if i.driving_licence_img != None%}
                    <td  style=" vertical-align: middle;" >
                      <input style="align-self:center; height:25px; width:29px; "{% if i.driving_licence_status == 1 %} checked {% endif%} type="radio" id="drimg" name="drimg" value="1">
                      <label style="align-self:center; font-size:20px;" for="html">Verified</label><br>
                      <input  style="align-self:center;height:25px; width:29px;" type="radio"{% if i.driving_licence_status == 2 %} checked {% endif%} id="drimg" name="drimg" value="2">
                      <label style="align-self:center;font-size:20px;" for="css">Rejected</label><br>
                      <input style="align-self:center;height:25px; width:29px;" type="radio"{% if i.driving_licence_status == 0 %} checked {% endif%} id="drimg" name="drimg" value="0">
                      <label style="align-self:center;font-size:20px;" for="javascript">Pending</label>
                       </td>
                      {% endif %}
                  </tr>
                 
                  
               
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>



      <!-- Full Size image -->

      <div class="col-md-19 ml-4" style="width:361px;height:200px;margin-top: 80px;">
        <h4 class="top-text">Full Size Image</h4>
       <div class="card card-primary card-outline">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-20">
                      
                <table class="table table-striped">
                   <tr>
                    <td> 
                      {% if i.full_size_img == None%}<img  src="/static/noimg.png" width="150" height="150">{% endif %}
                      {% if i.full_size_img != None%}
                      {% if i.fs_type == 1 %} <img  src="{{url}}fullsizephoto/{{i.full_size_img}}" data-toggle="modal" data-target="#exampleModal"   onclick="showimg('{{url}}fullsizephoto'+'/'+'{{i.full_size_img}}')"  width="150" height="150">
                      {% endif %}
                      {% if i.fs_type == 2 %}  <img  src="/static/pdficon.png" width="150" height="150">
                      {% endif %}
                      {% if i.fs_type == 3 %}   <img  src="/static/invalid.png" width="150" height="150">
                      {% endif %}
                      
                      {% endif %}
                     
                    
                    </td>
                    {% if i.full_size_img != None%}
                    <td style=" vertical-align: middle;" >
                      <input style="align-self:center; height:25px; width:29px; " type="radio" {% if i.full_size_img_status == 1 %} checked {% endif%} id="fsimg" name="fsimg" value="1">
                      <label style="align-self:center; font-size:20px;" for="html">Verified</label><br>
                      <input  style="align-self:center;height:25px; width:29px;" type="radio" {% if i.full_size_img_status == 2 %} checked {% endif%} id="fsimg" name="fsimg" value="2">
                      <label style="align-self:center;font-size:20px;" for="css">Rejected</label><br>
                      <input style="align-self:center;height:25px; width:29px;" type="radio" {% if i.full_size_img_status == 0 %} checked {% endif%} id="fsimg" name="fsimg" value="0">
                      <label style="align-self:center;font-size:20px;" for="javascript">Pending</label>
                       </td>
                       {% endif %}
                  </tr>
                 
                  
               
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>





<!-- College id image -->


      <div class="col-md-19 ml-4" style="width:361px;height:200px;margin-top: 80px;">
        <h4 class="top-text">College ID Image</h4>
       <div class="card card-primary card-outline">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-20">
                      
                <table class="table table-striped">
                   <tr>
                    <td> 
                      {% if i.college_id_img == None%}<img  src="/static/noimg.png" onclick="showpdf('/static/sql.pdf')"  data-toggle="modal" data-target="#pdfModal" width="150" height="150">{% endif %}
                      {% if i.college_id_img != None%}
                      {% if i.ci_type == 1 %} <img  src="{{url}}college_id/{{i.college_id_img}}" data-toggle="modal" data-target="#exampleModal"   onclick="showimg('{{url}}college_id'+'/'+'{{i.college_id_img}}')" width="150" height="150">
                      {% endif %}
                      {% if i.ci_type == 2 %}  <img  src="/static/pdficon.png" width="150" height="150">
                      {% endif %}
                      {% if i.ci_type == 3 %}   <img  src="/static/invalid.png" width="150" height="150">
                      {% endif %}
                      
                      {% endif %}
                     
                    </td>
                    {% if i.college_id_img != None%}
                    <td style=" vertical-align: middle;">
                      <input style="align-self:center; height:25px; width:29px; " type="radio" {% if i.college_id_img_status == 1 %} checked {% endif%} id="ciimg" name="ciimg" value="1">
                      <label style="align-self:center; font-size:20px;" for="html">Verified</label><br>
                      <input  style="align-self:center;height:25px; width:29px;" type="radio" {% if i.college_id_img_status == 2 %} checked {% endif%} id="ciimg" name="ciimg" value="2">
                      <label style="align-self:center;font-size:20px;" for="css">Rejected</label><br>
                      <input style="align-self:center;height:25px; width:29px;" type="radio"  {% if i.college_id_img_status == 0 %} checked {% endif%} id="ciimg" name="ciimg" value="0">
                      <label style="align-self:center;font-size:20px;" for="javascript">Pending</label>
                       </td>
                       {% endif %}
                  </tr>
                 
                  
               
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>



      <!-- 10th Marksheet image -->
      <div class="col-md-19 ml-4" style="width:361px;height:200px;margin-top: 80px;">
        <h4 class="top-text">10th Marksheet Image</h4>
       <div class="card card-primary card-outline">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-20">
                      
                <table class="table table-striped">
                   <tr>
                    <td> 
                      {% if i.tenth_img == None%}<img  src="/static/noimg.png" width="150" height="150">{% endif %}
                      {% if i.tenth_img != None%}
                      {% if i.th_type == 1 %} <img  src="{{url}}10th/{{i.tenth_img}}"  data-toggle="modal" data-target="#exampleModal"   onclick="showimg('{{url}}10th'+'/'+'{{i.tenth_img}}')" width="150" height="150">
                      {% endif %}
                      {% if i.th_type == 2 %}  <img  src="/static/pdficon.png" width="150" height="150">
                      {% endif %}
                      {% if i.th_type == 3 %}   <img  src="/static/invalid.png" width="150" height="150">
                      {% endif %}
                      
                      {% endif %}
                     
                    </td>
                    {% if i.tenth_img != None%}
                    <td style=" vertical-align: middle;">
                      <input style="align-self:center; height:25px; width:29px; " type="radio" {% if i.tenth_img_status == 1 %} checked {% endif%} id="thimg" name="thimg" value="1">
                      <label style="align-self:center; font-size:20px;" for="html">Verified</label><br>
                      <input  style="align-self:center;height:25px; width:29px;" type="radio"   {% if i.tenth_img_status == 2 %} checked {% endif%} id="thimg" name="thimg" value="2">
                      <label style="align-self:center;font-size:20px;" for="css">Rejected</label><br>
                      <input style="align-self:center;height:25px; width:29px;" type="radio"  {% if i.tenth_img_status == 0 %} checked {% endif%} id="thimg" name="thimg" value="0">
                      <label style="align-self:center;font-size:20px;" for="javascript">Pending</label>
                       </td>
                       {% endif %}
                  </tr>
                 
                  
               
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>



<!-- 12th marksheet image -->


      <div class="col-md-19 ml-4" style="width:361px;height:200px;margin-top: 80px;">
        <h4 class="top-text">12th Marksheet Image</h4>
       <div class="card card-primary card-outline">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-20">
                      
                <table class="table table-striped">
                   <tr>
                    <td> 
                      {% if i.twelth_img == None%}<img  src="/static/noimg.png" width="150" height="150">{% endif %}
                      {% if i.twelth_img != None%}
                      {% if i.tw_type == 1 %} <img  src="{{url}}12th/{{i.twelth_img}}" data-toggle="modal" data-target="#exampleModal"   onclick="showimg('{{url}}12th'+'/'+'{{i.twelth_img}}')" width="150" height="150">
                      {% endif %}
                      {% if i.tw_type == 2 %}  <img  src="/static/pdficon.png" width="150" height="150">
                      {% endif %}
                      {% if i.tw_type == 3 %}   <img  src="/static/invalid.png" width="150" height="150">
                      {% endif %}
                      
                      {% endif %}
                     
                    </td>
                    {% if i.twelth_img != None%}
                    <td   style=" vertical-align: middle;" >
                      <input style="align-self:center; height:25px; width:29px; " type="radio"  {% if i.twelth_img_status == 1 %} checked {% endif%} id="twimg" name="twimg" value="1">
                      <label style="align-self:center; font-size:20px;" for="html">Verified</label><br>
                      <input  style="align-self:center;height:25px; width:29px;" type="radio" {% if i.twelth_img_status == 2 %} checked {% endif%}  id="twimg" name="twimg" value="2">
                      <label style="align-self:center;font-size:20px;" for="css">Rejected</label><br>
                      <input style="align-self:center;height:25px; width:29px;" type="radio" {% if i.twelth_img_status == 0 %} checked {% endif%} id="twimg" name="twimg" value="0">
                      <label style="align-self:center;font-size:20px;" for="javascript">Pending</label>
                       </td>
                       {% endif %}
                  </tr>
                 
                  
               
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>



<!-- Address image -->

      <div class="col-md-19 ml-4" style="width:361px;height:200px;margin-top: 80px;">
        <h4 class="top-text">Address Image</h4>
       <div class="card card-primary card-outline">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-20">
                      
                <table class="table table-striped">
                   <tr>
                    <td> 
                      {% if i.address_img == None%}<img  src="/static/noimg.png" width="150" height="150">{% endif %}
                      {% if i.address_img != None%}
                      {% if i.add_type == 1 %} <img  src="{{url}}address/{{i.address_img}}" data-toggle="modal" data-target="#exampleModal"   onclick="showimg('{{url}}address'+'/'+'{{i.address_img}}')" width="150" height="150">
                      {% endif %}
                      {% if i.add_type == 2 %}  <img  src="/static/pdficon.png" width="150" height="150">
                      {% endif %}
                      {% if i.add_type == 3 %}   <img  src="/static/invalid.png" width="150" height="150">
                      {% endif %}

                      {% endif %}
                                        
                    </td>
                    {% if i.address_img != None%}
                    <td style=" vertical-align: middle;">
                      <input style="align-self:center; height:25px; width:29px; " type="radio" {% if i.address_img_status == 1 %} checked {% endif%} id="addimg" name="addimg" value="1">
                      <label style="align-self:center; font-size:20px;" for="html">Verified</label><br>
                      <input  style="align-self:center;height:25px; width:29px;" type="radio"  {% if i.address_img_status == 2 %} checked {% endif%} id="addimg" name="addimg" value="2">
                      <label style="align-self:center;font-size:20px;" for="css">Rejected</label><br>
                      <input style="align-self:center;height:25px; width:29px;" type="radio" {% if i.address_img_status == 0 %} checked {% endif%} id="addimg" name="addimg" value="0">
                      <label style="align-self:center;font-size:20px;" for="javascript">Pending</label>
                       </td>
                       {% endif %}
                  </tr>
                 
                  
               
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>




<!-- Vaccination image -->
      <div class="col-md-19 ml-4" style="width:361px;height:200px;margin-top: 80px;">
        <h4 class="top-text">Vaccination Image</h4>
       <div class="card card-primary card-outline">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-20">
                      
                <table class="table table-striped">
                   <tr>
                    <td> 
                      {% if i.vaccination_img == None%}<img  src="/static/noimg.png" width="150" height="150">{% endif %}
                      {% if i.vaccination_img != None%}
                      {% if i.vac_type == 1 %} <img  src="{{url}}vaccination/{{i.vaccination_img}}"   data-toggle="modal" data-target="#exampleModal"   onclick="showimg('{{url}}vaccination'+'/'+'{{i.vaccination_img}}')" width="150" height="150">
                      {% endif %}
                      {% if i.vac_type == 2 %}  <img  src="/static/pdficon.png" width="150" height="150">
                      {% endif %}
                      {% if i.vac_type == 3 %}   <img  src="/static/invalid.png" width="150" height="150">
                      {% endif %}
                      
                      {% endif %}
                     
                    
                    </td>
                    {% if i.vaccination_img != None%}
                    <td style=" vertical-align: middle;">
                      <input style="align-self:center; height:25px; width:29px; " type="radio" {% if i.vaccination_img_status == 1 %} checked {% endif%} id="vacimg" name="vacimg" value="1">
                      <label style="align-self:center; font-size:20px;" for="html">Verified</label><br>
                      <input  style="align-self:center;height:25px; width:29px;" type="radio" {% if i.vaccination_img_status == 2 %} checked {% endif%} id="vacimg" name="vacimg" value="2">
                      <label style="align-self:center;font-size:20px;" for="css">Rejected</label><br>
                      <input style="align-self:center;height:25px; width:29px;" type="radio" {% if i.vaccination_img_status == 0 %} checked {% endif%} id="vacimg" name="vacimg" value="0">
                      <label style="align-self:center;font-size:20px;" for="javascript">Pending</label>
                       </td>
                       {% endif %}
                  </tr>
                 
                  
               
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>


<!-- Police Verification image -->

      <div class="col-md-19 ml-4 " style="width:361px;height:200px; margin-top: 80px;">
        <h4 class="top-text">Police Verification Image</h4>
       <div class="card card-primary card-outline">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-20">
                      
                <table class="table table-striped">
                   <tr>
                    <td> 
                      {% if i.police_verification_img == None%}<img  src="/static/noimg.png" width="150" height="150">{% endif %}
                      {% if i.police_verification_img != None%}
                      
                      {% if i.pvr_type == 1 %} <img  src="{{url}}policeverfications/{{i.police_verification_img}}"   data-toggle="modal" data-target="#exampleModal"   onclick="showimg('{{url}}policeverfications'+'/'+'{{i.police_verification_img}}')" width="150" height="150">
                      {% endif %}
                      {% if i.pvr_type == 2 %}  <img  src="/static/pdficon.png" width="150" height="150">
                      {% endif %}
                      {% if i.pvr_type == 3 %}   <img  src="/static/invalid.png" width="150" height="150">
                      {% endif %}
                      
                      {% endif %}
                     
                    </td>
                    {% if i.police_verification_img != None%}
                    <td  style=" vertical-align: middle;" >
                      <input style="align-self:center; height:25px; width:29px; " type="radio" {% if i.police_verification_status == 1 %} checked {% endif%} id="pvrimg" name="pvrimg" value="1">
                      <label style="align-self:center; font-size:20px;" for="html">Verified</label><br>
                      <input  style="align-self:center;height:25px; width:29px;" type="radio" {% if i.vaccination_img_status == 2 %} checked {% endif%} id="pvrimg" name="pvrimg" value="2">
                      <label style="align-self:center;font-size:20px;" for="css">Rejected</label><br>
                      <input style="align-self:center;height:25px; width:29px;" type="radio"  {% if i.vaccination_img_status == 0 %} checked {% endif%} id="pvrimg" name="pvrimg" value="3">
                      <label style="align-self:center;font-size:20px;" for="javascript">Pending</label>
                       </td>
                       {% endif %}
                  </tr>
                 
                  
               
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>








      </div>                
              
         </div>

         {% endfor %}
    </section>

  </form>    
</div>
          <!-- ------------------Image model start here- -->
          <div class="modal fade "  id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
            <div class="modal-dialog modal-lg " role="document">
              <div class="modal-content">
                <div class="modal-header"style='display:block'  >
  
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                   
                  </div>
                  <center>
                  <div>

                    <img id="oldpic"   style="margin-top:10px;width:300px; "><br><br>
                   
                </div>
              </center>
                          
                </div>
                
              </div>
            </div>
          </div>
          <!-- -----image model end- -->




            <!-- ------------------pdf model start here- -->
            <div class="modal fade "  id="pdfModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
              <div class="modal-dialog modal-lg " role="document">
                <div class="modal-content">
                  <div class="modal-header"style='display:block'  >
    
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                     
                    </div>
                    <center>
                    <div>
                      {% comment %} <iframe src="https://docs.google.com/gview?url=127.0.0.1:8000/static/sql.pdf&embedded=true" style="width:600px; height:500px;" frameborder="0"></iframe> {% endcomment %}
  
                      {% comment %} <embed src="/static/sql.pdf" frameborder="0" width="100%" height="400px" ><br><br> {% endcomment %}
                        <iframe
                        src="https://drive.google.com/viewerng/viewer?embedded=true&url=http://www.svecw.edu.in/Docs%5CITIIBTechIISemLecDBMS.pdf#toolbar=0&scrollbar=0"
                        frameBorder="0"
                        scrolling="auto"
                        height="100%"
                        width="100%"
                    ></iframe>
                  </div>
                </center>
                            
                  </div>
                  
                </div>
              </div>
            </div>
            <!-- -----pdf model end- -->
</body>
</html>


<script>

 
  
function showimg(imgurl){
  console.log(imgurl)

  $('#oldpic').attr('src',imgurl)


}
function showpdf(pdfurl){
  console.log(pdfurl)
  {% comment %} PDFObject.embed("127.0.0.1:8000"+pdfurl, "#example1"); {% endcomment %}
}

</script>  