<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>surveyuserview</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  
<style>
  .top-text{
    text-align: center;
    background-color: #588eef;
    margin-bottom: -1px;
    border-radius: 12px 11px 1px 1px;
    font-family: monospace;
    font-weight: bold;
  }
  .aadhar-img{  
    height: 165px;
    width: 262px;
  }
  .profile{
    border-radius: 101px;
    height: 84px;
    width: 87px;
    float: right;
  }
</style>
</style>
</head>
<body>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Survey User view</h1>
                <a style="font-size: 15px; font-weight: bold;margin-top: -8px;"
                >
                           
                           {% for i in t %}
                           {% if i.survey_id.verified_status == 1 %}
                              <div class="btn btn-success"style="margin-bottom: -67px;"
                              onclick="change_status('{{ i.survey_id.verified_status }}','{{i.survey_id.survey_registration_id}}')"


                              >Verified</div>
                        {% endif %}      
                        {% if i.survey_id.verified_status == 0 %}
                              <div class="btn btn-danger"style="margin-bottom: -67px;"
                              onclick="change_status('{{ i.survey_id.verified_status }}','{{i.survey_id.survey_registration_id}}')"

                              >Not Verified</div>
                        {% endif %}
                           {% endfor %}
                              {% comment %} <div class="btn btn-success" style="margin-bottom: -67px;">Verifed</div>                {% endcomment %}
                         
                        </a>
                        <a style="font-size: 15px; font-weight: bold;margin-top: -8px;" href="/admin-showdocuments">
                   
                           
                           
                               <div class="btn btn-info" style="margin-bottom: -67px;">Show Documents</div>                                         
                        </a>
                   
                      
                         </form>
                 
          </div>
          
          <div class="col-sm-6">
          {% for i in t%}
               {% if i.survey_profile_image == None %}
                           <img class="profile" src="https://i.stack.imgur.com/34AD2.jpg" width="50" height="50">
                           {% endif %}
                        {% if i.survey_profile_image != None%}
                           <img   class="profile" src="{{imgurl}}{{i.survey_profile_image}}" width="50" height="50">
                           {% endif %} 
          {% endfor %}

                         
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
 
    <!-- Main content -->
    <section class="content" style="margin-top: 40px;">
        
      <div class="container-fluid">
        <div class="row">
  
             <div class="col-md-6">
        <h4 class="top-text">Survey Location</h4>
       <div class="card card-primary card-outline">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                  {% for i in t %}
                      
                <table class="table table-striped">
                   <tr>
                    <th>State</th>
                    <td>{% if i.state != None%}{{i.state}}{% endif %}</td>
                    
                  </tr>
                <tr>
                    <th>District</th>
                    <td> {% if i.district != None%}{{i.district}}{% endif %} </td>
                  </tr>
                  <tr>
                    <th>Block</th>
                    <td>{% if i.block != None%}{{i.block}}{% endif %} </td>
                  </tr>
                   <tr>
                    <th>Village</th>
                    <td>{% if i.village != None%}{{i.village}}{% endif %} </td>
               </tr>
               {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
                <div class="col-md-6">
        <h4 class="top-text">Set Location</h4>
       <div class="card card-primary card-outline">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                <form id='setlocation' method="post" enctype="multipart/form-data">{%csrf_token %}
                 
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text">State</label>
                    </div>
                    <select class="custom-select"  name="states" id="states" required> 
                      <option selected disabled>-State-</option>
                      {% for state in states %}
                          <option value="{{state.state_id }}" > {{state.state_name}}</option>
                         
                          {% endfor %}
                                    
                    </select> 
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">District</label>
                    </div>
                    <select class="custom-select"  name="district" id="district"> 
                      <option >-District-</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Block</label>
                    </div>
                    <select class="custom-select"  name="block" id="block"> 
                      <option >-Block-</option>
                    </select>
                </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Village</label>
                    </div>
                    <select class="custom-select" name="village" id="village">
                      <option value='None'>-Village-</option>
                    </select>
                </div>
                <div class="modal-footer">
               <button type="submit" value="submit" class="btn btn-primary">Save</button>
               </div>
        </form>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="col-md-6">
      <h4 class="top-text">Survey Information</h4>
       <div class="card card-primary card-outline">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                <table class="table table-striped">
                  {% for i in t %}

  <tr>
    <th>Full Name</th>
    <td>{{i.survey_name}}</td>
    
  </tr>
  <tr>
    <th>Address</th>
    <td>{{i.survey_address}}</td>
  </tr>
  <tr>
    <th>Adhar Number</th>
    <td>{{i.survey_adhar_number}}</td>
  </tr>
  <tr>
    <th>Hight Qualification</th>
    <td>{{i.highqualification}}</td>
  </tr>
   <tr>
    <th>10 Percentage</th>
    <td>{{i.survey_10th_mark}}%</td>
  </tr>
   
   <tr>
    <th>12 Percentage</th>
    <td>{{i.survey_12th_mark}}%</td>
  </tr>
  <tr>
    <th>Mobile Number</th>
    <td>{{i.survey_id.survey_mobile}}</td>
  </tr>
  <tr>
    
    <th>Joining Date</th>
    <td>{{i.survey_id.traning_start_date}}</td>
  </tr>
  {% endfor %}
 </table>
</div>

</div>
              
        </div>

            </div><!-- /.card -->
        </div>
       {% comment %} <div class="col-md-6">
        <h4 class="top-text">Aadhar Details</h4>
       <div class="card card-primary card-outline">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                <table class="table table-striped">
                   <tr>
                    <th>Adhar Number</th>
                    <td>123456789222</td>
                  </tr>
                <tr>
                    <th style="text-align: center;background: gray;">Front Image</th>
                 </tr>
                 <tr>   
                    <td>
                           <img class="aadhar-img" src="https://cdn.zeebiz.com/hindi/sites/default/files/styles/zeebiz_850x478/public/2020/08/26/39871-aadhaar.jpg?itok=Q1GeVb8s" width="50" height="50">
                         
                    </td>
                  </tr>
                  <tr>
                    <th style="text-align: center;background: gray;">Back Image</th>
                  </tr>
                  <tr>
                      <td>
                               <img class="aadhar-img" src="https://cdn.zeebiz.com/hindi/sites/default/files/styles/zeebiz_850x478/public/2020/08/26/39871-aadhaar.jpg?itok=Q1GeVb8s" width="50" height="50">
                              
                      </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div> {% endcomment %}

       <div class="col-md-6">
        <h4 class="top-text">Bank Details</h4>
       <div class="card card-primary card-outline">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                <table class="table table-striped">
                {% for i in t%}
                   <tr>
                    <th>Bank Name</th>
                    <td>{{i.survey_bankname}}</td>
                  </tr>
                <tr>
                    <th>Bank Account Number</th>
                    <td>{{i.survey_account_num}}</td>
                  </tr>
                  <tr>
                    <th>IFSC Number</th>
                    <td>{{i.survey_ifsc}}</td>
                  </tr>
                  <tr>
                    <th>Branch</th>
                    <td>{{i.survey_branch}}</td>
                  </tr>
                  <tr>
                    <th>Holder Name</th>
                    <td>{{i.survey_holder_name}}</td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
     
     <!-- ------report table start here--- -->
      <div class="col-md-6">
        <h4 class="top-text">Daily Login Report</h4>
       <div class="card card-primary card-outline">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12" style="overflow: scroll; height: 430px;">
                <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">S.no</th>
      <th scope="col">Date</th>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
      <th scope="col">Total Survey Time</th>
    </tr>
  </thead>
  <tbody>
   
    <tr>
    {% for i in res %}
      <th scope="row">{{forloop.counter}}</th>
      <td>{{i.start_date}}</td>
      <td>{{i.s_time}}</td>
      <td>{{i.e_time}}</td>
      <td>{{ i.total_time }}</td> 
      {% endfor %}
    </tr>

  </tbody>
</table>


              </div>
            </div>
          </div>
        </div>
      </div> 
     <!-- ----------report table end here---- -->
    </div>
    <div class="row">
      <div class="col-md-12">
      {% for i in t %}
        <iframe src="https://maps.google.com/maps?q={{i.current_lattitude}},{{i.current_longitude}}&output=embed" style="width:100%;height:500px"></iframe>
      {% endfor %}
      </div>
    </div>
                {% comment %} <a href="{{URL::to('/')}}/admin-survey-user" class="btn btn-warning">Back</a> {% endcomment %}
                <a href="#" class="btn btn-warning">Back</a>
        </div>
    </div>

</section>
{% comment %}
<script> 
        $('#states').change(function(){
        var cid = $(this).val();  
        if(cid){
        $.ajax({
           type:"get",
            /* url: "{{ url('/') }}/admin-survey-user-distric/" + cid,*/
           success:function(res)
           {       
                if(res)
                {
                    $("#state").empty();
                    $("#block").empty();
                    $("#village").empty();
                    $("#distric").append('<option>Select District</option>');
                    $.each(res,function(key,value){
                        $("#distric").append('<option value="'+key+'">'+value+'</option>');
                    });
                }
           }

        });
        }
    });
    $('#distric').change(function(){
        var sid = $(this).val();
        if(sid){
        $.ajax({
           type:"get",
           /*url: "{{ url('/') }}/admin-survey-user-block/" + sid,*/
           success:function(res)
           {       
                if(res)
                {
                    $("#block").empty();
                    $("#block").append('<option>Select Block</option>');
                    $.each(res,function(key,value){
                        $("#block").append('<option value="'+key+'">'+value+'</option>');
                    });
                }
           }

        });
        }
    }); 

       $('#block').change(function(){
        var vid = $(this).val();
        if(vid){
        $.ajax({
           type:"get",
            /*url: "{{ url('/') }}/admin-survey-user-village/" + vid,*/
           success:function(res)
           {       
                if(res)
                {
                    $("#village").empty();
                    $("#village").append('<option></option>');
                    $.each(res,function(key,value){
                        $("#village").append('<option value="'+key+'">'+value+'</option>');
                    });
                }
           }

        });
        }
    }); 
  
</script>

<script>
    window.setTimeout(function() {
    $(".alert").fadeTo(100, 0).slideUp(500, function(){
        $(this).remove(); 
    });
}, 3000);
</script> 
    </section>{% endcomment %}

    <!-- Main content -->
    {% comment %} <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
       
            <div class="card">
              <div class="card-header">
                <!-- <h3 class="card-title">Create Service</h3> -->
              </div>
              <!-- /.card-header -->
              <div class="card-body" style="overflow: scroll;">
                <table class="table table-bordered">
                  <thead>                  
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Survey ID</th>
                      <th>Order Id</th>
                      <th>Survey User Name</th>
                       <th>Mobile Number</th>
                       <th>Email</th>
                       <th>Image</th>
                       <th>Status</th>
                       <th>Action</th>
                    </tr> 
                  </thead>
                  <?php $counter = 0; ?>
                  <tbody>
                  	   <tr>
                      <td>1</td>
                       <td>
                           00112333
                      </td>
                      <td>crtd12345   </td>
                      <td>rohan</td>
                      <td>1234567895</td>
                       <td>Rohan@gmail.com</td>
                       <td>  
                           <img src="https://i.stack.imgur.com/34AD2.jpg" width="50" height="50">
                       </td>
                       <td>
                        <a style="font-size: 15px; font-weight: bold;margin-top: -8px;">
                              <div class="btn btn-success">Active</div>
                        </a>    
                    </td>                    
                      <td> 
                      	<a href="#">
                      	<div class="btn btn-info btn-sm">View</div>
                      </a>
                        <div class="btn btn-success btn-sm" data-toggle="modal" data-target="#exampleModal">Location</div>
                                              
                      </td>
                    </tr> 
<!-- ------------------location model start here- -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Set Location</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> 
      <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">State</label>
                    </div>
                    <!-- <input type="hidden" name="servern" value=""> -->
                     <div class="custom-select"> 
                      sohan
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Distric</label>
                    </div>
                    <div class="custom-select"> 
                     bhopal
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Block</label>
                    </div>
                   <div class="custom-select"> 
                     bhopal
                  </div>
                </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Village</label>
                    </div>
                   <div class="custom-select"> 
                     bhopal
                   </div>
                </div>
                <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      </div>
      
    </div>
  </div>
</div> {% endcomment %}
<!-- -----location model end- -->
  <!-- ---------Daily report start here---- -->
                 
                  
                  </tbody>
                </table>
              </div>
            </div>
            <!-- /.card -->          
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
</div>
<script>
  
  $('#states').change(function () {
    var cid = $(this).val();

    if (cid) {
      $.ajax({
        type: "POST",
        url: "{% url 'fatchalldistricts' %}",
        data: { csrfmiddlewaretoken: '{{ csrf_token }}', 'id': cid, },
      csrfmiddlewaretoken: '{{ csrf_token }}',
        success: function (res) {
           if (res) {
             $("#state").empty();
             $("#district").empty();
             $("#block").empty();
             $("#village").empty();
          
             $.each(res.data, function (key, value) {
               //console.log(key)
               $("#district").append('<option value="' + value.dist_id + '">' + value.dist_name + '</option>');
             });
           }
        
        }

      });
    }
  });





  $('#district').change(function () {
    var cid = $(this).val();
    var sid =$('#states').val()
    
    if (cid) {
      $.ajax({
        type: "POST",
        url: "{% url 'fatchallblocks' %}",
        data: { csrfmiddlewaretoken: '{{ csrf_token }}', 'id': cid,'sid':sid },
      csrfmiddlewaretoken: '{{ csrf_token }}',
        success: function (res) {
           if (res) {
            
            $("#block").empty();
            $("#village").empty();
            $("#block").append('<option value="None">Select Block</option>');
             
          
             $.each(res.data, function (key, value) {
               //console.log(key)
               $("#block").append('<option value="' + value.block_id + '">' + value.block_name + '</option>');
             });
           }
        
        }

      });
    }
  });


  $('#block').change(function () {
    var cid = $(this).val();
    var sid =$('#states').val()
    var did =$('#district').val()
    if (cid) {
      $.ajax({
        type: "POST",
        url: "{% url 'fatchallvillages' %}",
        data: { csrfmiddlewaretoken: '{{ csrf_token }}', 'id': cid,'sid':sid ,'did':did},
      csrfmiddlewaretoken: '{{ csrf_token }}',
        success: function (res) {
           if (res) {
            
            $("#village").empty();
            $("#village").append('<option value="None" >Select village</option>');
             
          
             $.each(res.data, function (key, value) {
               //console.log(key)
               $("#village").append('<option value="' + value.village_id + '">' + value.village_name + '</option>');
             });
           }
        
        }

      });
    }
  });




  {% comment %} $('#distric').change(function () {
    var sid = $(this).val();
    if (sid) {
      $.ajax({
        type: "get",
        /*url: "{{ url('/') }}/admin-survey-user-block/" + sid,*/
        success: function (res) {
          if (res) {
            $("#block").empty();
            $("#block").append('<option>Select Block</option>');
            $.each(res, function (key, value) {
              $("#block").append('<option value="' + key + '">' + value + '</option>');
            });
          }
        }

      });
    }
  });

  $('#block').change(function () {
    var vid = $(this).val();
    if (vid) {
      $.ajax({
        type: "get",
        /*url: "{{ url('/') }}/admin-survey-user-village/" + vid,*/
        success: function (res) {
          if (res) {
            $("#village").empty();
            $("#village").append('<option></option>');
            $.each(res, function (key, value) {
              $("#village").append('<option value="' + key + '">' + value + '</option>');
            });
          }
        }

      });
    }
  }); {% endcomment %}

  $("#setlocation").submit(function (e) {
    
    // preventing from page reload and default actions
    e.preventDefault();
    
    // serialize the data for sending the form data.
    var serializedData = $(this).serialize();
    
    // make POST ajax call
    $.ajax({
        type: 'POST',
        url: "{% url 'setsurveylocation' %}",
        data: serializedData,
        
        success: function (response) {
          // console.log(response)
          location.reload();
          setTimeout(()=>{
            alert("Location update successfully")

          },10)
          

          
        },
        error: function (response) {
            // alert the error if any error occured
            alert(response["responseJSON"]["error"]);
        }
    })
})




</script>
</body>
<script type="text/javascript" >
  function change_status(status, id) {
    $.ajax({
      type: 'POST',
      url: "{% url 'admin-update_surveyor_verfications' %}",
      data: { csrfmiddlewaretoken: '{{ csrf_token }}', 'data': status, 'regid': id },
      csrfmiddlewaretoken: '{{ csrf_token }}',
      success: function (response) {
        $(document).ajaxStop(function () {
          window.location.reload();
        });


      },
      error: function (response) {
        // alert the error if any error occured
        // alert(response["responseJSON"]["error"]);
      }
    })


  }

</script>

</html>